<table class="table stripped">
    <thead>
        <th>Id</th>
        <th>Type</th>
        <th>Status</th>
        <th>Comments</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of inspectionList$|async;let indexOfelement=index;">
            <!-- <td>{{item.id}}</td> -->
            <td>{{indexOfelement+1}}</td>
            <!-- <td>{{item.inspectionTypeId}}</td> -->
            <td>{{inspectionTypesMap.get(item.inspectionTypeId)}}</td>
            <td>{{item.status}}</td>
            <td>{{item.comments}}</td>
        </tr>
    </tbody>
</table>
